@import url('site-plan-rafting.css');
/**************************************General Rules***************************************/

/***************************************General Rules****************************************/
/***************************************Tag Selectors****************************************/

/***************************************Tag Selectors****************************************/
/**************************************Class Selectors***************************************/
.hero {
	position: relative;	
}
.hero article img{
	float:right;
	width: 200px;
	height: auto;
}
.hero h1,article{
	position: absolute;
	background-color: #00120096;
	text-align: center;
	width: 100%;
	top: 0;
}
.hero article{
	top: 33%;
}
.hero h1{
	top: 20%;
}
.hero img{
	display: block;
	width: 100%;
	height: auto;
}
/**************************************Class Selectors***************************************/
/***************************************ID Selectors*****************************************/
/*Empty*/
/***************************************ID Selectors*****************************************/
