*{

}
header {
	margin: 1rem auto;
	display: grid;

	grid-template-columns: 1fr 2fr 1fr;
	align-items: center;
}
nav {
	text-align: right;
}

.navigation {
	display: flex;
	list-style: none;
}

.navigation li {
	flex: 1 1 100%;
}
