@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Secular+One&display=swap');
:root {
    /*from https://coolors.co/palette/000814-001d3d-003566-ffc300-ffd60a*/
    --color0: white;
    --color1: #000814;
    --color2: #001D3D;
    --color3: #003566;
    --color4: #FFC300;
    --color5: #FFD60A;
    
    --body-background: var(--color1);
    
    --primary-color: var(--color0);
    --secondary-color: var(--color0);
    --accent1-color: var(--color3);
    --accent2-color: var(--color2);
    
    --nav-background-color: var(--color3);
    --nav-link-color: var(--color4);
    --nav-hover-link-color: var(--color5);
    --nav-hover-background-color: var(--color2);

    --heading-font: "Inter",serif,bold;
    --paragraph-font: "Inter",serif;
}
/*Class Selectors*/


/*Tag Selectors*/
body{
    font-family: var(--paragraph-font);
    background-color: var(--body-background);
}
h1,h2,h3,h4,h5,h6,p,div,nav{
    font-family: var(--heading-font);
    color: var(--primary-color)
}
header{
    padding: 20px;
    background-color: var(--accent1-color);
}
p{
    padding: 25px;
}
nav{
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}
nav a{
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited{
    color: var(--nav-link-color);
}
nav a:hover{
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

/*ID Selectors*/
