@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Secular+One&display=swap');
:root {
    --rich-black: #000814ff;
    --oxford-blue: #001d3dff;
    --yale-blue: #003566ff;
    --mikado-yellow: #ffc300ff;
    --gold: #ffd60aff;
    /*from https://coolors.co/palette/000814-001d3d-003566-ffc300-ffd60a*/

    --heading-font: "Inter",serif;
    --paragraph-font: "Inter",serif;

  --primary-color: var(--rich-black);
  --secondary-color: var(--oxford-blue);
  --accent1-color: var(--yale-blue);
  --accent2-color: var(--mikado-yellow);
  
  --nav-background-color: var(--rich-black);
  --nav-link-color: var(--gold);
  --nav-hover-link-color: var(--yale-blue);
  --nav-hover-background-color: var(--oxford-blue);
}
/*Class Selectors*/


/*Tag Selectors*/
body{
    font-family: "Inter",serif;
}

/*ID Selectors*/
